@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

nav,
footer,
header,
aside {
  display: block;
}

img {
  max-width: 100%;
  display: block;
}

.flow {
  --flow-space: 1em;
}

.flow > * + * {
  margin-top: 1em;
  margin-top: var(--flow-space);
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: url(./assets/img/bg.jpg);
  height: 100vh;
}

a {
  display: inline-block;
}

.qwerty {
  display: none;
}

.btn {
  width: 100%;
  border-radius: 10px;
  padding: 15px 0px;
  transition: 0.3s linear;
}

p.error {
  font-size: 11px;
  font-weight: 500;
  line-height: 0px;
  text-transform: none;
  color: #FF7979;
  font-style: italic;
  text-align: right;
  transition: linear 0.2s;
  padding-top: 9px;
  display: none;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: auto;
  height: 100%;
}
.container .signup-content {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  -moz-column-gap: 45px;
       column-gap: 45px;
  height: 100%;
}
.container .signup-content__start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.container .signup-content__textblock {
  width: 525px;
}
.container .signup-content__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  text-transform: none;
  color: #FFFFFF;
  margin-bottom: 11px;
}
.container .signup-content__subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-transform: none;
  color: #FFFFFF;
}
.container .signup-content__end {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-grow: 1;
}
.container .signup-content__tryit {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  text-transform: none;
  color: #FFFFFF;
  text-align: center;
  background-color: #5E54A4;
  margin-bottom: 24px;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
}
.container .signup-content__tryit span {
  font-weight: 500;
}
.container .signup-content__tryit:active {
  box-shadow: none;
  transform: translateY(8px);
}
.container .signup-content form {
  padding: 40px;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 20px;
}
.container .signup-content form input {
  padding: 15px 32px;
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  text-transform: none;
  color: #3D3B48;
  letter-spacing: 0.25px;
  border-radius: 5px;
  border: 1px solid #DEDEDE;
  width: 100%;
}
.container .signup-content form input:focus:invalid {
  background: url(./assets/icons/attention.svg) 95% center no-repeat;
  border: 2px solid #FF7979;
}
.container .signup-content form input:focus:invalid + .error {
  display: block;
}
.container .signup-content form input:focus:valid {
  background: url(./assets/icons/Flat_tick_icon.svg.png) 95% center no-repeat;
  background-size: 24px 24px;
  border: 2px solid springgreen;
}
.container .signup-content form input[type=text] {
  text-transform: capitalize;
}
.container .signup-content form button {
  font-size: 15px;
  font-weight: 600;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #38CC8B;
  box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
}
.container .signup-content form button:hover {
  background-color: #77E2B3;
}
.container .signup-content form button:active {
  box-shadow: none;
  transform: translateY(4px);
}
.container .signup-content form p.sigunup-content__btnnote {
  font-size: 11px;
  font-weight: 500;
  line-height: 26px;
  text-transform: none;
  color: #BAB7D4;
  text-align: center;
}
.container .signup-content form p.sigunup-content__btnnote span {
  font-weight: 700;
  color: #FF7979;
}/*# sourceMappingURL=styles.css.map */